@font-face {
    font-family: "pokemon_font";
    src: url("/fonts/pokemon_font.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    user-select: none;

    background-color: #FAF8ED;
}

p {
    font-family: "pokemon_font";
    font-size: var(--font);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(9, 100%, 64%);

    border-radius: 0.5rem;
    border-style: solid;
    border-color: black;
    border-width: 3px;

    box-shadow: 3px 3px 0px black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hwb(9 28% 15%);
}

:root {
    --normal: #acb4b7;
	--fire: #ffb68d;
	--water: #8cade0;
	--electric: #f6dd83;
	--grass: #94cb91;
	--ice: #9cdacd;
	--fighting: #d98698;
	--poison: #bf99d4;
	--ground: #e19f87;
	--flying: #aebde4;
	--psychic: #fa9c9d;
	--bug: #add080;
	--rock: #d3c8aa;
	--ghost: #8e97c0;
	--dragon: #7a99cf;
	--dark: #908d96;
	--steel: #90acb8;
	--fairy: #f2adec;

    --header-font: 1.3rem;
    --font: 0.9rem;
    --small-font: 0.7rem;
}

@media only screen and (max-width: 40em) {
    :root {
        --header-font: 1rem;
        --font: 0.6rem;
        --small-font: 0.5rem
    }
}