@font-face {
    font-family: "pokemon_font";
    src: url("/fonts/pokemon_font.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

p {
    font-family: "pokemon_font";
    font-size: var(--font);
    margin: 0;
    padding: 0;
}

:root {
    --normal: #acb4b7;
	--fire: #ffb68d;
	--water: #8cade0;
	--electric: #f6dd83;
	--grass: #94cb91;
	--ice: #9cdacd;
	--fighting: #d98698;
	--poison: #bf99d4;
	--ground: #e19f87;
	--flying: #aebde4;
	--psychic: #fa9c9d;
	--bug: #add080;
	--rock: #d3c8aa;
	--ghost: #8e97c0;
	--dragon: #7a99cf;
	--dark: #908d96;
	--steel: #90acb8;
	--fairy: #f2adec;

    --header-font: 1.3rem;
    --font: 0.9rem;
    --small-font: 0.7rem;
}

@media only screen and (max-width: 40em) {
    :root {
        --header-font: 1rem;
        --font: 0.6rem;
        --small-font: 0.5rem
    }
}