@font-face {
    font-family: "pokemon_font";
    src: url("/fonts/pokemon_font.woff2");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    font-family: "pokemon_font";
    font-size: var(--font);
    margin: 0;
    padding: 0;
}

:root {
    --electric: #F6E652;
    --fire: #FF9441;
    --water: #8BC5CD;
    --grass: #A4D541;


    --heading-font: 1.3rem;
    --font: 0.9rem;
}

@media only screen and (max-width: 40em) {
    :root {
        --heading-font: 1rem;
        --font: 0.6rem;
    }
}